<div class = "jumbotron center">
	<h1><center>About Pinteresting</center></h1>
</div>

<div class = "jumbotron left">	
	<p><center>Welcome!</center>
	<p> Pinteresting is a web application is a work-in-progress resulting from the fantastic course held by Mattan 
	Griffel over at <%= link_to "One Month Rails", "https://www.onemonthrails.com" %>. The purpose of this project is to
	create an application very similar to <%= link_to "Pinterest", "https://www.pinterest.com" %> with the hopes of learning
	Ruby on Rails for personal development.
</div>