<div class = "jumbotron">
	<h2><center>Hundreds of people are creating their own Pinteresting web application.</center></h2>
	<p><center>Click to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %> for mine.</center></p>
</div>