<div class = "jumbotron center">
	<h2>Hundreds of people are creating their own Pinteresting web application.</h2>
	<p>Click to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %> for mine</p>
	<p>Already have an account? <%= link_to "Log in Now", "#" %>
</div>