<h1><center>Meet the Team</center></h1>
<div class = "row">
	<%= image_tag("teamPagePic.png", :class => "img-circle", :size => "150x150", :alt => "this is me!") %> 
	<span class="glyphicon glyphicon-hand-left"></span> That's me. The 'one man army' of <i>this</i> particular Pinteresting
	site. 
	<h6><b>Michael Barrington Stone</b> <small>IT Consultant</small></h6>
</div>